*{
    margin: 0;
    padding: 0;
}

body{
    background: #e6e6e6;
}

header, .main, footer {
    background-position-x: azure;
    width: 90%;
    margin: 20px auto; /*centra el contenido*/
    max-width: 1000px;
}

header nav{
    overflow: hidden; /*para que mi nav no desaparesca por culpa del float: left*/
    background: cornflowerblue;
}

header nav ul{
    list-style: none;    
}

header nav ul li{
    float: left;
}

header nav ul li a{
    text-decoration: none;
    color: black;
    display: block;
    padding:10px 20px;
}

header nav ul li a:hover{
    color:white;
    background: gray;
}
.main .articles{

    width: 68.5%;
    margin-right: 1.5%;
    float:left;
}
.main .articles article{
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    
}
aside{
    width: 30%;
    background:  #4dbcd7;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}

footer{
    background: black;
    color:white;
    clear:both;
    text-align: center;
    padding: 10px 0px;
    width: 100%;
}